body {
    margin: 0px;
    font-family: Arial;
    header {
        display: flex;
        justify-content: space-between;
        background-color: #131921;
        color: white;
        height: 6vh;
        align-items: center;
        padding-left: 1vw;
        padding-right: 1vw;
        .logo {
            background-position: -10px -51px;
            width: 97px;
            height: 30px;
        }
        .search {
            background-color: orange;
            border-radius: 5px;
            width: 53rem;
            display: flex;
            justify-content: space-between;
            .searchInput {
                width: inherit;
            }
        }
        .search::selection {
            padding: 2px;
        }
    }
    nav {
        background-color: #232f3e;
        display: flex;
        color: white;
        align-items: center;
        justify-content: flex-start;
        height: 2.5rem;
    }
}
